@model TrashCollector.Models.Employee

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>Name: @Model.Name</p>
<p>E-Mail: @Model.Email</p>


<li>
    @*<a asp-action="Edit" asp-route-id="@Model.Name">Edit</a>
    <a asp-action="Edit" asp-route-id="@Model.Email">Edit</a>*@
    <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index2">List Of Customers</a>
    
</li>
